@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Comfortaa', cursive;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: #a7bed3;
}
.column{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row{
    margin: 0 -5px;
}
.row:after{
    content: "";
    display: table;
    clear:both
}
 @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
}
}


.Card{
position: relative;
width: 350px;
height: 190px;
background: #fff;
border-radius: 30px;
transition: 0.5s;
}
.Card:hover{
    height: 450px
}
.Card .line{
    position: absolute;
    inset: 0;
    background: #ffcaaf;
    border-radius: 30px;
    overflow: hidden;
}
.Card .line::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 200px;
    background: linear-gradient(transparent, #957DAD,#957DAD,#957DAD, transparent);
    animation: animate 4s linear infinite;
}
@keyframes animate
{
 0%
    {transform:translate(-50%, -50%) rotate(0deg);}
 100%
    {transform: translate(-50%, -50%) rotate(360deg);}
}
.Card .line::after
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #c6e2e9;
    border-radius: 30px;
}
.Card .imgBx{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background:  #ffcaaf;
    border-radius: 30px;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}
.Card:hover .imgBx{
    width: 100px;
    height: 100px;
}
.Card .imgBx::before{
    content: '';
    position: absolute;
    top:50%;
    left:50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%,-50%);
    background: linear-gradient(transparent,#cd5e77,#cd5e77,#cd5e77, transparent);
    animation: animate 1s linear infinite;
    
}
@keyframes animate2
{
    0%
       {transform:translate(-50%, -50%) rotate(360deg);}
    100%
       {transform: translate(-50%, -50%) rotate(0deg);}
   }
.Card .imgBx::after
{
    content: '';
    position: absolute;
    inset: 2px;
    background: #b8e0d2;  
    border-radius: 30px;
}
.Card .imgBx img
{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    filter: grayscale(1);
   
}
.Card .content{
    position: absolute;
    width: 100%;
    height: 50%;
    display:flex;
    justify-content:center;
    align-items: flex-end;
    overflow: hidden;
}
.Card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}
.Card:hover .content .details{
    transform: translateY(0px);
}
.Card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: gray;
    line-height: 0.9em;
}
.Card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    color: black;
    line-height: 0.1em;
}
.Card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.Card .content .details .data h3{
    font-size: 1em;
    color: #cd5e77;
    line-height: 1.2em;
    font-weight: 600;
}
.Card .content .details .data h3 span{
    font-size: 0.85em;
    font-weight: 400;
    color: grey;
}
.Card .content .details .actionBtn{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.Card .content .details .actionBtn button{
    padding: 10px 30 px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1 em;
    font-weight: 500;
    background: #45f3ff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
}
.Card .content .details .actionBtn button:nth-child(2){
    background: white;
}
.Card .content .details .actionBtn button:hover{
    opacity: 1;
}

.Card1{
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 30px;
    transition: 0.5s;
    }
    .Card1:hover{
        height: 450px
    }
    .Card1 .line1{
        position: absolute;
        inset: 0;
        background: #ffcaaf;
        border-radius: 30px;
        overflow: hidden;
    }
    .Card1 .line1::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        height: 200px;
        background: linear-gradient(transparent, #957DAD,#957DAD,#957DAD, transparent);
        animation: animate 4s linear infinite;
    }
    @keyframes animate
    {
     0%
        {transform:translate(-50%, -50%) rotate(0deg);}
     100%
        {transform: translate(-50%, -50%) rotate(360deg);}
    }
    .Card1 .line1::after
    {
        content: '';
        position: absolute;
        inset: 3px;
        background: #c6e2e9;
        border-radius: 30px;
    }
    .Card1 .imgBx1{
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 150px;
        background:  #ffcaaf;
        border-radius: 30px;
        transition: 0.5s;
        z-index: 10;
        overflow: hidden;
    }
    .Card1:hover .imgBx1{
        width: 100px;
        height: 100px;
    }
    .Card1 .imgBx1::before{
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        width: 500px;
        height: 150px;
        transform: translate(-50%,-50%);
        background: linear-gradient(transparent,#cd5e77,#cd5e77,#cd5e77, transparent);
        animation: animate 1s linear infinite;
        
    }
    @keyframes animate2
    {
        0%
           {transform:translate(-50%, -50%) rotate(360deg);}
        100%
           {transform: translate(-50%, -50%) rotate(0deg);}
       }
    .Card1 .imgBx1::after
    {
        content: '';
        position: absolute;
        inset: 2px;
        background: #b8e0d2;  
        border-radius: 30px;
    }
    .Card1 .imgBx1 img
    {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 1;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        filter: grayscale(1);
       
    }
    .Card1 .content1{
        position: absolute;
        width: 100%;
        height: 50%;
        display:flex;
        justify-content:center;
        align-items: flex-end;
        overflow: hidden;
    }
    .Card1 .content1 .details1{
        padding: 40px;
        text-align: center;
        width: 100%;
        transition: 0.5s;
        transform: translateY(145px);
    }
    .Card1:hover .content1 .details1{
        transform: translateY(0px);
    }
    .Card1 .content1 .details1 h2{
        font-size: 1.25em;
        font-weight: 600;
        color: gray;
        line-height: 0.9em;
    }
    .Card1 .content1 .details1 h2 span{
        font-size: 0.75em;
        font-weight: 500;
        color: black;
        line-height: 0.1em;
    }
    .Card1 .content1 .details1 .data1{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    .Card1 .content1 .details1 .data1 h3{
        font-size: 1em;
        color: #cd5e77;
        line-height: 1.2em;
        font-weight: 600;
    }
    .Card1 .content1 .details1 .data1 h3 span{
        font-size: 0.85em;
        font-weight: 400;
        color: grey;
    }
    .Card1 .content1 .details1 .actionBtn1{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .Card1 .content1 .details1 .actionBtn1 button{
        padding: 10px 30 px;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 1 em;
        font-weight: 500;
        background: #45f3ff;
        color: #222;
        cursor: pointer;
        opacity: 0.9;
    }
    .Card1 .content1 .details1 .actionBtn1 button:nth-child(2){
        background: white;
    }
    .Card1 .content1 .details1 .actionBtn1 button:hover{
        opacity: 1;
    }