@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}
body{
    background-color: white;
    color:black;
}
.header{
    position: flex;
    top: 0;
    left:  0;
    width: 100%;
    padding: 20px 10%;
    background-color: #C1121F ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-weight: bolder;
    color: white;
    font-size: 50px;
    pointer-events: none;
    text-decoration: none;
}
.logoT{
        font-weight: bolder;
        color: white;
        font-size: 50px;
        margin-top: -3.9mm;
        margin-left: -10.8cm;
        margin-right: none;
        margin-bottom: none;
}
.logoE{
    font-weight: 500;
    color: white;
    font-size: 40px;
    margin-top: -0.2cm;
    margin-left: -10.8cm;
    font-weight: bolder;
}
.navbar a{
    font-size: 18px;
    color:#fefae0 ;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 800;
}

.home-content{
    z-index: 99;
    background-image: url('capton\ img&etc/download.jpg');
    background-repeat: no-repeat;
    height: 500;
    width: 500;
}
